body {
  .container {
    margin: auto;
    background: #0e1099;
    background: linear-gradient(215deg, rgba(14, 16, 153, 1) 0%, rgba(45, 166, 253, 1) 100%);
    width: 320px;
    color: white;
    padding: 10px;
    display: flex;
    p,
    span{
      font-family: 'Roboto', "Roboto Thin", sans-serif;
      font-weight: 300;
      margin: 5px;
    }
    .weather {
      font-size: 16px;
      font-weight: 400 !important;
    }
    .currentData{
      font-size: 24px;
    }
    .currentTime{
      span:nth-child(1){
        font-size: 40px;
        margin: 5px;
      }
      span:nth-child(2){
        font-size: 22px;
        margin: 15px 0 0 0 ;
      }
    }

    .degree{
      font-weight: 500;
      font-size: 22px;
    }

    .left_side {
      .currentTime {
        display: flex;
      }
      p:last-child {
        margin-top: 22px;
      }
    }

    .right_side{
      display: flex;
      flex-direction: column ;
      align-items: center;

      button{
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        transition: 0.3s;

        &:hover{
          transform: rotate(360deg);
        }
      }
    }
  }

}