.container{
    margin: auto;
    max-width: 1200px ;

}

.hero{
    margin-top: 70px;
    text-align: center;
    background-color: #121111;
}

.hero h1{
    color: #ffe81f;
    font-size: 64px;
    margin: 0 0 10px;
    letter-spacing: 2px;
}

.hero h2{
    color: #ffe81f;
    font-weight: normal;
    font-size: 20px;
}

.subtitle{
    color: #e5e5e5;
    font-size: 20px;
}

.description{
    text-align: center;
}

.description p{
    font-size: 14px;
    margin: 8px 0;
    color: #f0f0f0;
}